@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Hind Siliguri', sans-serif;
}

li.nav-item {
  font-weight: 500;
}

/*  */
body {
  background: #E0E4CC
}



.news {
  width: 160px
}

.news-scroll a {
  text-decoration: none
}

.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: rgb(207, 23, 23);
  border-radius: 50%;
  display: inline-block
}

a,
h2 {
  text-decoration: none;
  color: #34495E;
}

.limited-tags {
  max-height: 348px;
  overflow-y: auto;

}

.limited-tags a {
  display: block;

}

.quoates-logo {
  max-width: 100px;
  border-style: solid;
  border-color: #2E3192;
  border-width: 5px;
  border-radius: 50px;
}

.quoates-name {
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 700;
}


.quoates-descrip {
  background: #E8F0FE;
  font-size: 18px;
  margin: 20px 20px 20px 0px;
  font-weight: 500;
  height: 300px;
}

.read-more {
  background: #180092;
}


@media screen and (max-width: 570px) {
  .f13 {
    font-size: 13px;
  }

  .name {
    font-size: calc(1.275rem + .3vw) !important;
  }

  .img-full {
    width: 100% !important;
    height: 196px !important;
  }

  .res-quates {
    width: 100% !important;
  }


  .d-flex-res {
    flex-direction: column;
    width: 100%;
  }

  .contact-info {
    display: none !important;
  }

}


/*  */
/* Style for the modal */
#myModal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Style for the modal content */
#myModal .modal-content {
  margin: auto;
  display: block;
  max-width: 800px;
  max-height: 80%;
  width: 91%;
}

/* Style for the image in the modal */
#myModal .modal-content img {
  width: 100%;
  height: auto;
}

/* Style for the caption in the modal */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-height: 20%;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Style for the close button */
.close {
  color: #fff;
  float: right;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  margin-top: -41px;
}

/* Style for the close button on hover */
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  animation: zoom-in 0.2s ease-out;
}

@keyframes zoom-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content {
  transition: all 0.2s ease-out;
}

.modal.closed .modal-content {
  transform: scale(0.5);
  opacity: 0;
}

/* .scrolling-hide::-webkit-scrollbar {
  display: none;
}  */